/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2015, 3:16:56 PM
    Author     : Kyra
*/
*{
 font-family: Century Gothic;   
}

#header h1{
    
    padding-top: 8px;
    text-align: left;
    margin-left: 30px;
    
}

#header{
    background-image: url(https://kbevins.w3.uvm.edu/cs148develop/assignment10/background.png);
    border-bottom: solid 3px black;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 22pt;
    font-family: Century Gothic;
    font-style: italic;
}
#logo{
    float: left;
    width: 100px;
    height: auto;
}


nav li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    font-size: 14pt;
    padding: 5px;
    text-align: center;
    border-bottom: 3px solid black;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 1px;
    font-weight: bold;
}



nav li a:link{
    text-decoration: none;
    color: black;
}
nav li a:visited{
    color: black;
}

nav li a:hover{
    color: white;
}

.activePage{
    color: white;
}

.homepage{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://kbevins.w3.uvm.edu/cs148develop/assignment10/background.png);
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    border: solid 3px black;
    border-radius: 10px 10px 10px 10px;
}

.homepage h2{
    text-align: center;
}

.homepage p{
    text-align: center;
    font-size: bold;
    padding-top: 10px;
}




.pageTitle{
    text-align: center;
    text-decoration: underline;
    font-size: 18pt;
}

.usersRevs {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.usersRevs tr,td{
    padding: 5px; 
}

.usersRevs tr:hover{
    background-color: gold;
}

.usersSection{
    width: 350px;
    padding: 10px;
    float: left;
    margin: 15px;
    
}
.user{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.usersSection a{
    text-decoration: none;
}
.userHeading{
    text-align: left;
    padding-left: 42px;
    font-size: 21pt;
}
.reviews{
   border: 2px solid black;
   border-radius: 15px 15px 15px 15px;
   margin-bottom: 10px;
   width: 65%;
   margin-left: auto;
   margin-right: auto;
   padding: 4px;
   
}

.reviews:hover{
    background-image: url(https://kbevins.w3.uvm.edu/cs148develop/assignment10/background.png);
}

.reviews .title{
    text-align: center;
}

.reviews .description{
    text-align: center;
    font-style: italic;
    font-size: medium;
    border: 1px solid black;
    padding: 5px;
    
    border-radius: 15px 15px 15px 15px;
}

.genreSection{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-left: 2em;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
}

.genreInfo{
    margin-left: 3em;
    
}

table {
    
    width: 75%;
    
    
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

aside{
    border: 1px solid black;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 60%;
    
}





//reviews page
